

.navbar-brand {
  color: #1b1b1b !important;  
  font-weight: bold;
  font-size: 1.5rem;
}

.form-control {
  background-color: #f8f9fa;
  color: #343a40;           
  border: 1px solid #ffc107;  
}

.form-control:focus {
  border-color: #ffcb05; 
  box-shadow: none;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='#ffcb05' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>");
}

.nav-link {
  color: #ffcb05 !important;  
}

.pokemon-container {
  padding: 20px;
}

.pokemon-card {
  background-color: #f8f9fa;  
  border: 1px solid #ddd;     
  border-radius: 10px;
  width: 150px;
}
